{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <p>
            people who know they have done wrong reveal their guilt by the things they say or the way they interpret what other people say.
        </p>
    </article>
{% endblock %}
